.idea/

.venv/
venv/
env/
ENV/
client/venv/
server/venv/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.db
*.sqlite
*.sqlite3

client/data/
server/storage/

*.log
logs/

.DS_Store
Thumbs.db
client/app/sync/db.py
server/data.db
client/data/sync_state.db
/scripts
